.form {
  &__container {
    display: flex;
    justify-content: center;
  }
  &__wrapper {
    width: 400px;
    background: $color-container;
    border-radius: 10px;
    overflow: hidden;
    padding: $spacing-xxl $spacing-xl $spacing-l;
    box-shadow: $shadow-around;
    @media screen and (max-width: $screen-xs) {
      padding: $spacing-xl $spacing-s $spacing-l;
    }
  }

  &__title {
    display: block;
    font-size: $font-size-xl;
    font-weight: 600;
    color: $color-text;
    text-align: center;
  }

  &__icon {
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    margin: $spacing-m 0;
    width: $spacing-xl;
    font-size: $font-size-xxl;
    color: $color-text;
  }
  &__footer {
    text-align: center;
    font-size: $font-size-xs;
  }
}

.completed {
  color: $color-primary;
}
.uncompleted {
  color: $color-text-muted;
}