@import './variables';
@import './components/_shared';
@import './components/_base-layout';
@import './components/_header';
@import './components/_parties';
@import './components/_input';
@import './components/_form';
@import './components/_nav';

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-main;
  font-size: $font-size-s;
  margin: $spacing-xl 0 0 0;
  background-color: $color-body;
  transition: all 0.2s ease;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
}

input, select {
  outline: none;
  border: none;
}